# <h1><center> Basic Python Program 06 </h1></center>

In [1]:
# import pandas and numpy

import pandas as pd
import numpy as np

### TASK 01. Write a Pandas program to add, subtract, multiplyb and divide two Pandas Series.

In [2]:
a = pd.Series([1,2,3,4,5])
b = pd.Series([6,7,8,9,3])

print('a + b:')
print(a + b) #add
print('\na - b:')
print(a - b) #sub
print('\na * b:')
print(a*b) #mul
print('\na / b:')
print(a / b) #div

a + b:
0     7
1     9
2    11
3    13
4     8
dtype: int64

a - b:
0   -5
1   -5
2   -5
3   -5
4    2
dtype: int64

a * b:
0     6
1    14
2    24
3    36
4    15
dtype: int64

a / b:
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    1.666667
dtype: float64

### TASK 02. Write a Pandas program to compare the elements of the two Pandas Series.

In [3]:
import pandas as pd
s1 = pd.Series([1, 4, 5, 7, 9]) 
s2 = pd.Series([6, 1, 8, 9, 2]) 
print("Compare the elements of the said Series:")
print("Equals:")
print(s1 == s2)
print("Greater than:")
print(s1 > s2)
print("Less than:")
print(s1 < s2)

Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater than:
0    False
1     True
2    False
3    False
4     True
dtype: bool
Less than:
0     True
1    False
2     True
3     True
4    False
dtype: bool

### TASK 03. Write a Pandas program to convert a dictionary and a NumPy array to a Pandas series and to convert a given Series to an array.

In [5]:
a = {1 : 'q', 2 : 'w', 3 : 'e', 4 : 'r', 5 : 't', 6 : 'y'} #Dictionary
print('Dictionary: ',a)

b = np.array([100, 200, 300, 400, 500]) # Numpy ndarray
print('\nNumpy array',b)

x = pd.Series(a) # Dictionary to Pandas Series
y = pd.Series(b) # Numpy ndarray to Pandas Series

print('\nDictionary to Series:')
print(x)
print('\nNumpy Array to Series:')
print(y)

Dictionary:  {1: 'q', 2: 'w', 3: 'e', 4: 'r', 5: 't', 6: 'y'}

Numpy array [100 200 300 400 500]

Dictionary to Series:
1    q
2    w
3    e
4    r
5    t
6    y
dtype: object

Numpy Array to Series:
0    100
1    200
2    300
3    400
4    500
dtype: int64

### TASK 04. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [6]:
s = pd.Series(data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])
print(s)
print("\nMean of the above mentioned Data series is")
print(s.mean())
print("\nStandard deviation of the above mentioned Data series is")
print(s.std())

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
dtype: int64

Mean of the above mentioned Data series is
6.0

Standard deviation of the above mentioned Data series is
3.3166247903554

### TASK 05. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [10]:
nums = pd.Series(np.random.randint(10, size=15)) # create random series
print(nums)
print('\nTotal unique values are:')
print(nums.nunique())
print("\nFrequency of each unique value of the series is ")
result = nums.value_counts()
print(result)

0     2
1     5
2     9
3     8
4     4
5     1
6     0
7     5
8     5
9     8
10    4
11    7
12    8
13    5
14    7
dtype: int64

Total unique values are:
8

Frequency of each unique value of the series is
5    4
8    3
7    2
4    2
9    1
2    1
1    1
0    1
dtype: int64

### TASK 06. Write a Pandas program to calculate the number of characters in each word in a given series.

In [11]:
words = pd.Series(['Alpha' , 'Beta', 'John', 'Suryakumar'])
print("Original Series:")
print(words)
result = words.map(lambda x: len(x))
print("\n Number of characters in each word in the said series is")
print(result)

Original Series:
0         Alpha
1          Beta
2          John
3    Suryakumar
dtype: object

 Number of characters in each word in the said series is
0     5
1     4
2     4
3    10
dtype: int64

### TASK 07. Write a Pandas program to count the number of rows and columns of a DataFrame.

In [14]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
        'index': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']} 
a = pd.DataFrame(exam_data)
print(a, '\n')
rows = len(a.axes[0])
cols = len(a.axes[1])
print("Number of Rows:", str(rows))
print("Number of Columns:", str(cols))

        name  score  attempts qualify index
0  Anastasia   12.5         1     yes     a
1       Dima    9.0         3      no     b
2  Katherine   16.5         2     yes     c
3      James    NaN         3      no     d
4      Emily    9.0         2      no     e
5    Michael   20.0         3     yes     f
6    Matthew   14.5         1     yes     g
7      Laura    NaN         1      no     h
8      Kevin    8.0         2      no     i
9      Jonas   19.0         1     yes     j

Number of Rows: 10
Number of Columns: 5

### TASK 08. Write a Pandas program to delete the 'attempts' column from the DataFrame.

In [18]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
a = pd.DataFrame(exam_data , index=labels)
print("Original:")
print(a , '\n')
print("\n After deleting 'Attempts' column : \n")
a.drop(columns = ['attempts'], inplace = True)
print(a)

Original:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes


 After deleting 'Attempts' column :

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

### TASK 09. Write a Pandas program to insert a new column in existing DataFrame.

In [19]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
a = pd.DataFrame(exam_data , index=labels)
print("Original rows:")
print(a)
city = ['Delhi','Mumbai','Delhi','Pataya','Sydney','Melbourne','London','London','Amsterdam','New York']
a['city'] = city
print("\n New DataFrame after inserting the 'city' column is \n")
print(a)

Original rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

 New DataFrame after inserting the 'city' column is

        name  score  attempts qualify       city
a  Anastasia   12.5         1     yes      Delhi
b       Dima    9.0         3      no     Mumbai
c  Katherine   16.5         2     yes      Delhi
d      James    NaN         3      no     Pataya
e      Emily    9.0         2      no     Sydney
f    Michael   20.0         3     yes  Melbourne
g    Matthew   14.5         1     yes     London
h      Laura    NaN         1      no     London
i      Kevin    8.0         2      no  Amsterdam
j      Jonas   19.0         1     yes   New York

### TASK 10. Write a Pandas program to get list from DataFrame column headers.

In [23]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
a = pd.DataFrame(exam_data , index=labels)
print(a)
print("\n List of DataFrame column headers are ")
print(list(a.columns))
print(a.dtypes)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

 List of DataFrame column headers are
['name', 'score', 'attempts', 'qualify']
name         object
score       float64
attempts      int64
qualify      object
dtype: object

### TASK 11.  Write a Pandas program to get the datatypes of columns of a DataFrame.

In [25]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
a = pd.DataFrame(exam_data , index=labels)
print(a)
print("\n List of DataFrame column headers are ")
print(list(a.columns), '\n')
print('Datatypes\n')
print(a.dtypes)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

 List of DataFrame column headers are
['name', 'score', 'attempts', 'qualify']

Datatypes

name         object
score       float64
attempts      int64
qualify      object
dtype: object

### TASK 12. Write a Pandas program to insert a given column at a specific column index in a DataFrame & count number of columns of a DataFrame.

In [31]:
x = {'Players': ['Cristiano', 'Mesut', 'Sanchez', 'Lionel', 'Thomas']}

a = pd.DataFrame(x)

print(a)

y = [1, 2, 3, 4, 5]

a.insert(loc=0,column='Jersey', value= y) 

print('\n')
print(a)

     Players
0  Cristiano
1      Mesut
2    Sanchez
3     Lionel
4     Thomas


   Jersey    Players
0       1  Cristiano
1       2      Mesut
2       3    Sanchez
3       4     Lionel
4       5     Thomas

In [32]:
### TASK 13. Write a Pandas program to get first and last n records of a DataFrame.

In [ ]:
x = {'Players': ['Cristiano', 'Mesut', 'Sanchez', 'Lionel', 'Thomas']}

a = pd.DataFrame(x)

print(a)

print('\n')
n = int(input('Enter a number for first n records:'))
print('\nFirst Record:')
print(a.head(n))

print('\n')
n = int(input('Enter a number for Last n records:'))
print('\nLast Record:')
print(a.tail(n))

     Players
0  Cristiano
1      Mesut
2    Sanchez
3     Lionel
4     Thomas